  <button 
    style="background-color: rgb(242, 130, 208)">
    <a style="color:#ffffff" href="/">
        GO BACK
    </a>
</button>

  <button 
    style="background-color: rgb(242, 130, 208)">
    <a style="color:#ffffff" href="/dhd/addHousewife">
        ADD
    </a>
</button>

<table>
    <thead>
        <tr>
            <th scope="col">Character Name</th>
            <th scope="col">Favorite Season</th>
            <th scope="col">Reason</th>
            <th scope="col">Character Notes</th>
            <th scope="col">Created At</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    <tbody>
        {{#each dhd}}
            <tr>
                <td>{{this.username}}</td>
                <td>{{this.season}}</td>
                <td>{{this.reason}}</td>
                <td>{{this.character_notes}}</td>
                <td>{{this.created_at}}</td> 
                <td>
                  <button 
                    style="background-color: rgb(242, 130, 208)">
                    <a style="color:#ffffff" href="/dhd/delete/{{this.id}}">
                        DELETE
                    </a>
                </button>
                <button 
                    style="background-color: rgb(242, 130, 208)">
                    <a style="color:#ffffff" href="/dhd/update/{{this.id}}">
                        UPDATE
                    </a>
                </button>
              </td>
            </tr>
        {{/each}}
    </tbody>
</table>