<button 
    style="background-color: rgb(242, 130, 208)">
    <a style="color:#ffffff" href="/">
        GO BACK
    </a>
</button>

<table>
    <thead>
    <tr>
        <th scope="col">ID</th>
        <th scope="col">NAME</th>
        <th scope="col">AGE</th>
        <th scope="col">Country</th>
        <th scope="col">support</th>
        <th scope="col">Data_birth</th>

    </tr>
    </thead>
    <tbody>
    {{#each presidents}}
        <tr>
            <th scope="row">{{this.id}}</th>
            <td>{{this.name}}</td>
            <td>{{this.age}}</td>
            <td>{{this.Country}}</td>
            <td>{{this.support}}</td>
            <td>{{this.Data_birth}}</td>
            <td>{{this.created_at_date}}, {{this.created_at_time}} </td>
            
        </tr>
    {{/each}}
    </tbody>
</table>